name: Test

on:
  push:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dart-lang/setup-dart@v1

      - name: Install dependencies
        run: dart pub get
      - name: Check formatting
        run: dart format --output=none --set-exit-if-changed .
      - name: Lint
        run: dart analyze
      - name: Publish dry-run
        run: dart pub publish --dry-run
      - name: Check publish score
        run: |
          dart pub global activate pana
          dart pub global run pana --no-warning --exit-code-threshold 0

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - sqlite_version: "3440200"
            sqlite_url: "https://www.sqlite.org/2023/sqlite-autoconf-3440200.tar.gz"
            dart_sdk: 3.3.3
          - sqlite_version: "3430200"
            sqlite_url: "https://www.sqlite.org/2023/sqlite-autoconf-3430200.tar.gz"
            dart_sdk: 3.3.3
          - sqlite_version: "3420000"
            sqlite_url: "https://www.sqlite.org/2023/sqlite-autoconf-3420000.tar.gz"
            dart_sdk: 3.3.3
          - sqlite_version: "3410100"
            sqlite_url: "https://www.sqlite.org/2023/sqlite-autoconf-3410100.tar.gz"
            dart_sdk: 3.3.3
          - sqlite_version: "3380000"
            sqlite_url: "https://www.sqlite.org/2022/sqlite-autoconf-3380000.tar.gz"
            dart_sdk: 3.3.3
    steps:
      - uses: actions/checkout@v3
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.dart_sdk }}

      - name: Install dependencies
        run: dart pub get

      - name: Install SQLite
        run: ./scripts/install_sqlite.sh ${{ matrix.sqlite_version }} ${{ matrix.sqlite_url }}

      - name: Run Tests
        run: |
          export LD_LIBRARY_PATH=./sqlite-autoconf-${{ matrix.sqlite_version }}/.libs
          dart test
